@charset "UTF-8";
.box_content {
	padding: 30px;
	box-sizing: border-box;
	border-radius: 8px;
	border: 1px solid #e0e0e0;
	width: 710px; 
	margin-bottom: 20px;
}
.box_title {
	padding-bottom: 20px; 
	font-size: 18px; 
	font-weight: bold;
	line-height: 18px;
	border-bottom: 1px solid gray;
}
.box_label {
	display: inline-block;
	vertical-align: top;
	font-size: 14px;
	line-height: 48px;
	width: 96px;
}
.box_form {
	display: inline-block;
	position: relative;
	margin-top: 12px;
}
.box_input {
	width: 450px;
	height: 45px;
	border: 1px solid #e0e0e0;
	padding: 0 16px;
	font-size: 16px;
	line-height: 44px;
	box-sizing: border-box;
	border-radius: 8px;
	margin-top: 5px;
}
.box_info {
	position: relative;
	display: inline-block;
	width: 440px;
	line-height: 48px;
	font-size: 14px;
}
.btn_address {
	width: 86px;
	height: 45px;
	margin-left: 8px;
	font-size: 14px;
	line-height: 46px;
	font-weight: bold;
	background-color: white;
	border: 1px solid #bdbdbd;
	border-radius: 8px;
	vertical-align: top;	
	margin-top: 5px;
}
.payment_radio {
	display: inline-block;
    width: 24px;
    height: 24px;
    margin-top: 0 !important;
}
.payment_label {
	display: inline-block;
    font-size: 17px;
    line-height: 24px;
    margin: 0;
    font-weight: bold;
    vertical-align: top;
    margin-left: 7px;
}
.payment_box {
	position: relative;
    display: block;
    padding: 20px 0;
    font-size: 0;
    font-weight: normal;
    box-sizing: border-box;
}
.box_goods {
	position: relative;
	padding-left: 99px;
	min-height: 100px;
}
.box_picture {
	position: absolute;
	top: 0;
	left: 0;
	width: 100px;
	height: 100px;
}
.box_product_info {
	position: relative;
	height: 24px;
	margin-top: 4px;
	vertical-align: top;
	padding-top: 24px;
	padding-left: 10px;
}
.text_product_name {
	font-size: 24px;
	font-weight: bold;
	line-height: 22px;
}

.text_product_price {
	font-size: 17px;
	line-height: 24px;
	font-weight: bold;
	padding-top: 13px;
}
.text_price {
	float: left;
	padding-top: 13px;
	font-size: 16px;
	line-height: 24px;
	font-weight: bold;
	color: dimgray;
}
.text_number {
	float: right;
	font-size: 17px;
	line-height: 24px;
	font-weight: bold;
	padding-top: 13px;
	text-align: right;
}
a {
	color: black;
}
a:hover {
	color: black;
}

.botton_pay {
	width: 25%;
	font-size: 20px;
	font-weight: 500;
	line-height: 55px;
	color: white;
	background-color: #fe4c50;
	text-align: center;
	border-radius: 8px;
	border: none;
}
.box_button
{
	display: -webkit-inline-box;
	display: -moz-inline-box;
	display: -ms-inline-flexbox;
	display: -webkit-inline-flex;
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 400px;
	height: 40px;
	background: white;
	border-radius: 3px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
	border: solid 1px #e5e5e5;
	padding: 10px;
}
.box_button:hover
{
	background: #F2F2F2 !important;
}
.box_button a
{
	display: block;
	color: black;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 500;
	text-align: center;
	line-height: 40px;
	width: 100%;
}
.continue_button {
	background: #fe4c50;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 500;
	text-align: center;
	line-height: 40px;
	width: 150px;
	border-radius: 3px;
}

.add_review {
	margin-top: 30px;
	padding-top: 20px;
}

#review_form>div {
	margin-bottom: 40px;
}

#review_form div:nth-child(2) h1 {
	display: inline-block;
}

#review_form div:nth-child(2) {
	margin-bottom: 20px;
}

#review_form>div:last-child {
	margin-bottom: 0px;
}

.add_review h1 {
	font-size: 18px;
	font-weight: 500;
}

.form_input {
	display: block;
	width: 100%;
	height: 50px;
	border: solid 1px #e5e5e5;
	padding-left: 20px;
}

.input_name {
	margin-bottom: 19px;
	margin-top: 31px;
}

.input_review {
	display: block;
	width: 100%;
	border: solid 1px #e5e5e5;
	margin-top: -20px;
	padding-left: 20px;
	padding-top: 13px;
}

.user_star_rating {
	display: inline-block;
	margin-left: 10px;
}

.user_star_rating li {
	display: inline-block;
	margin-right: -3px;
	cursor: pointer;
}

.user_star_rating li i {
	color: #f5c136;
	font-size: 18px;
}

.review_submit_btn {
	width: 170px;
	border: none;
	color: #FFFFFF;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 500;
	cursor: pointer;
}
